<launch>
  
    <arg name="rvizconfig" default="$(find rm_gazebo)/config/RM65/rviz_gazebo.rviz"/>
    <!-- Launch Gazebo  -->
    <include file="$(find rm_gazebo)/launch/RM65/rm_65_arm_world.launch" >
      <arg name="link6_type" value="Link6" />
    </include> 

    <!-- ros_control arm launch file -->
    <include file="$(find rm_gazebo)/launch/RM65/rm_65_arm_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find rm_gazebo)/launch/RM65/arm_65_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find rm_65_moveit_config)/launch/moveit_planning_execution.launch" >
      <arg name="rviz_gazebo_config" value="$(arg rvizconfig)" />
      <arg name="link6_type" value="Link6" />
    </include>

</launch>
