controller_list:
 - name: rm_65
   action_ns: follow_joint_trajectory
   type: FollowJointTrajectory
   default: true
   joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
initial:  # Define initial robot poses.
  - group: arm
    pose: zero
