<launch>

    <!-- 标签 -->
    <arg name="Arm_IP"                   default="192.168.1.18"/>    <!-- 设置TCP连接时的IP -->
    <arg name="Arm_Port"                 default="8080"/>            <!-- 设置TCP连接时的端口 -->
    <arg name="Arm_Dof"                  default="7"/>               <!-- 机械臂自由度设置 -->
    <arg name="Arm_Type"                 default="RM75"/>            <!-- 机械臂型号设置 -->
    <arg name="Follow"                   default="false"/>            <!-- 高低跟随设置 false：低跟随 true：高跟随 -->
    <arg name="Udp_IP"                   default="192.168.1.10"/>    <!-- 设置udp主动上报IP -->
    <arg name="Udp_Port"                 default="8089"/>            <!-- 设置udp主动上报端口 -->
    <arg name="Udp_cycle"                default="5"/>               <!-- 设置udp主动上报周期（ms） 最低为5(200Hz)，需要为5的倍数 -->
    <arg name="Udp_force_coordinate"     default="0"/>               <!-- 设置六维力参考坐标系 -->
    <arg name="Udp_hand"                 default="false"/>           <!-- 设置灵巧手udp主动上报使能 -->
    <arg name="Udp_plus_state"           default="false"/>           <!-- 设置末端设备实时信息udp主动上报使能 -->
    <arg name="Udp_plus_base"            default="false"/>           <!-- 设置末端设备基础信息udp主动上报使能 -->
    <arg name="trajectory_mode"          default="0"/>               <!-- 设置高跟随模式下，支持多种模式，0-完全透传模式、1-曲线拟合模式、2-滤波模式-->
    <arg name="radio"                    default="0"/>               <!-- 设置曲线拟合模式与滤波模式下平滑系数，范围0-100，数值越大表示平滑效果越好-->
    <arg name="is_4th_Gen"               default="true"/>            <!-- 判断是否为第四代控制器-->


    <!-- 启动机械臂底层驱动节点 -->
    <node name="rm_driver" pkg="rm_driver" type="rm_driver" output="screen" respawn="false">
        <!-- 机器人坐标frame -->
        <param name="Arm_IP"                value="$(arg Arm_IP)"/> 
        <param name="Arm_Port"              value="$(arg Arm_Port)"/>   
        <param name="Arm_Dof"               value="$(arg Arm_Dof)"/>   
        <param name="Arm_Type"              value="$(arg Arm_Type)"/> 
        <param name="Follow"                value="$(arg Follow)"/>  
        <param name="Udp_IP"                value="$(arg Udp_IP)"/>   
        <param name="Udp_Port"              value="$(arg Udp_Port)"/>  
        <param name="Udp_cycle"             value="$(arg Udp_cycle)"/>  
        <param name="Udp_force_coordinate"  value="$(arg Udp_force_coordinate)"/>  
        <param name="Udp_hand"              value="$(arg Udp_hand)"/>
        <param name="Udp_plus_state"        value="$(arg Udp_plus_state)"/>
        <param name="Udp_plus_base"         value="$(arg Udp_plus_base)"/>
        <param name="trajectory_mode"       value="$(arg trajectory_mode)"/>
        <param name="radio"                 value="$(arg radio)"/>
        <param name="is_4th_Gen"            value="$(arg is_4th_Gen)"/>
    </node>
    
</launch>

