<launch>
<!-- ECO-65 Driver -->
  <!-- <node name="rm_driver" pkg="rm_driver" type="rm_driver" respawn="true" output="screen">
  </node> -->
  <include file="$(find rm_driver)/launch/rm_eco65_driver.launch">
  </include>


<!-- Moveit -->
  <include file="$(find rm_eco65_moveit_config)/launch/demo_realrobot.launch">
  </include>
</launch>
